/keys/
/02-workflow-orchestration/mage-zoomcamp/taxi-rides-ny-412715-26506972d00b.json
*.DS_Store
*/.cache/*
*/.logs/*
*/.variables/*
02-workflow-orchestration/mage-zoomcamp/mage_data/magic-zoomcamp/mage-ai.db
02-workflow-orchestration/mage-zoomcamp/mage_data/*
